@model ConsultaARSHospital.Especialidades

@{
    ViewBag.Title = "Crear Especialidades";
}

<h2>Crear Especialidades</h2>

@using (Html.BeginForm("CrearEspecialidades", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <div class="form-group">
        @Html.LabelFor(model => model.id_especialidad, "ID de la Especialidad")
        @Html.TextBoxFor(model => model.id_especialidad, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.nombre_especialidad, "Nombre de la Especialidad")
        @Html.TextBoxFor(model => model.nombre_especialidad, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.descripcion, "Descripción")
        @Html.TextBoxFor(model => model.descripcion, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.id_doctor, "ID del Doctor")
        @Html.DropDownListFor(model => model.id_doctor, ViewBag.Doctores as SelectList, "Seleccione un doctor", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Crear</button>
}